@font-face {
   font-family: 'FontsFree-Net-metafora-black';
   font-display: swap;
   src: url('file:///C:/Users/X/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-01-08_170958/fonts/FontsFree-Net-metafora-black/font.ttf');
}
